

/* =================================== Inner Page Style Start ======================================= */



.inner_page_Sec{padding-top: 59px; padding-bottom: 50px; display: inline-block; width: 100%;}

.left_sec h1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: #000 solid 1px;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  text-transform: capitalize;
}


.left_sec h3 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.left_sec h1.search_page {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: #000 solid 1px;
  position: relative;
  margin-bottom: 25px; display: flex; align-items: center;
}

.left_sec_table h1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: #000 solid 1px;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  text-transform: capitalize;
}


.inner_page_Sec .left_sec h2 {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: capitalize;
  line-height: 26px;
}

.inner_page_Sec .left_sec ul{
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
  clear: both;
}

.inner_page_Sec .left_sec ul li{
  list-style-type: none;
  float: none;
  width: 100%;
  padding: 0 0 0 20px;
  margin: 0 0 8px 0;
  font-size: 14px;
  font-family: 'nunito_regular';
  color: #525252;
  background: url(../images/tick.png) 0 7px no-repeat;
  min-height: inherit;
  overflow: inherit;
  border-radius: 0;
}

.inner_page_Sec .left_sec ul li a{
  font-size: 14px;
  color: #dc9f0b;
}

.inner_page_Sec .left_sec ul li a:hover{
  font-size: 14px;
  color: #dc9f0b;
  text-decoration: underline;;
}


.left_sec h1 button.pdfDownload{margin: 0 0 0 auto;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  background: #f12b4f;
  border: none;
  padding: 6px 15px;
  border-radius: 6px;}
.left_sec h1 button.pdfDownload i{margin-left: 10px;}
.left_sec h1 button.pdfDownload:focus{outline: none; border: none;}

.left_sec h1 a.excelDownload{margin: 0 0 0 auto;}
.left_sec h1 button.excelDownload{margin: 0 0 0 auto;
  padding: 0;
  border: none; background:none;}

a.docDownload{margin: 0 0 0 auto;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  background: #2ba8f1;
  border: none;
  padding: 6px 15px;
  border-radius: 30px;}
  a.docDownload:hover{color: #fff; background: #2289c5;}
a.docDownload i{margin-right: 5px;}
a.docDownload:focus{outline: none; border: none;}

button.viewDetails{margin: 0 0 0 auto;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  background: #fd8e18;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;}
  button.viewDetails:hover{color: #fff; background: #fd8e18;}
  button.viewDetails i{margin-right: 0;}
button.viewDetails:focus{outline: none; border: none;}

.searchDetails .col-md-12 label.title{font-weight: bold;}
.searchDetails .col-md-12 label{width: 100%;}

.searchDetails .col-md-6 label.title{font-weight: bold;}
.searchDetails .col-md-6 label{width: 100%;}

.address_td{display: block;}

.contact_Num_td{display: block;}
.email_ID_td{font-weight: bold;}


.left_sec h1 span{color: #e6a802;}

.left_sec h1::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #e6a802;
  position: absolute;
  right: 0;
  bottom: 0;
}

.left_sec p {
  color: #525252;
  line-height: 26px;
  margin-bottom: 24px;
}


.right_sec{background: #e9e9e9; box-shadow:rgb(196, 196, 196) 0px 0px 19px 3px; width: 100%; display: inline-block;}
.right_sec .quickLink{padding: 15px;}
.right_sec .quickLink h2{color: #e6a802; font-size: 18px; font-weight: bold; padding-bottom: 8px; margin-bottom: 13px;
	border-bottom: #e6a802 solid 2px;}
.right_sec .quickLink ul{margin: 0; padding: 0; list-style-type: none;}
.right_sec .quickLink ul li{margin: 0; padding:10px 0; font-size: 15px; color: #5f5f5f;}

.right_sec .quickLink ul li a{margin: 0; padding:0 0 0 10px; font-size: 15px; color: #5f5f5f; position: relative;}
.right_sec .quickLink ul li a:before{content: "\f105"; font: normal normal normal 18px/1 FontAwesome; position: absolute; left: 0; top: 1px;}
.right_sec .quickLink ul li a:hover{color: #000;}




.right_sec .search_box{background: #01131f; padding:20px 15px 30px 15px; border-radius: 0; width: 100%; border:none; margin-bottom:16px;}

.right_sec .search_box h2 {font-size: 24px; color: #fff; font-weight: 100; padding-bottom: 8px; border-bottom: #e6a802 solid 1px; position: relative;
	margin-bottom: 22px;}
.right_sec .search_box h2:after {content: ""; width: 33px; height: 3px; background: #e6a802; position: absolute; right: 0; bottom: 0;}

.right_sec .search_box label{width: 100%; display: block; margin-bottom: 22px;}
.right_sec .search_box label.btn{width: 100%; display: block; margin-bottom: 0; padding: 0;}
.right_sec .search_box label select{background: #fff; font-size: 13px; color: #343535; border: none; padding:13px 12px; width: 100%;}
.right_sec .search_box label input[type="text"]{background: #fff; font-size: 13px; color: #343535; border: none; padding:13px 12px; width: 100%;}
.right_sec .search_box label input[type="submit"]{background: #fff; font-size: 18px; color: #fff; background: #e6a802; border: none; padding:13px 12px; width: 100%;
	font-weight: 700;}
  .right_sec .search_box label button[type="submit"]{background: #fff; font-size: 18px; color: #fff; background: #e6a802; border: none; padding:13px 12px; width: 100%;
    font-weight: 700;}


.right_sec .scroll_sec_ben h2{color: #333; font-size: 18px; font-weight: bold; padding-bottom: 8px; margin-bottom: 13px;
	border-bottom: #333 solid 2px;}

.right_sec .scroll_sec_ben ul {list-style-type: none; margin: 0; padding: 0;}
.right_sec .scroll_sec_ben ul li{border-bottom: #fff dashed 1px; margin-bottom: 10px; padding-bottom: 7px; width: 100%; 
	padding-left:0;	font-size: 14px; color: #525252; line-height: 23px; position: relative;}
.right_sec .scroll_sec_ben ul li span{font-size: 12px; color: #1b1300; display: block;}
.right_sec .scroll_sec_ben ul li:last-child{margin-bottom: 0; border-bottom: none;}
/*
.right_sec .scroll_sec_ben ul li:before {content: "\f05d";
  font: normal normal normal 22px/1 FontAwesome;
  position: absolute; left: 0; top: 0px;}
*/
.right_sec .scroll_sec_ben a{color: #fff; font-size: 13px; background: #e6a802; padding:8px 18px; font-weight: 600;
  margin-top: 10px; display: inline-block; line-height: 18px;}



  .address_1{position: relative;
    padding: 30px 22px;
    background-color: #1b57b0; margin-bottom:80px;
  }
  
  .address_1 h2{color: #fff; font-size: 23px; margin: 0 0 12px 0; padding: 0;}
  .address_1 p{color: #fff; font-size: 15px; margin: 0;}
  
  .address_2{position: relative;
    padding: 30px 22px;
    background-color: #1b57b0;
  }
  .address_2{margin-bottom: 20px;}
  .address_2 h2{color: #fff; font-size: 23px; margin: 0 0 12px 0; padding: 0;}
  .address_2 p{color: #fff; font-size: 15px; margin: 0;}
  
  
  .radio_Btn__{margin-bottom: 15px; width: 100%;}
  
  .searchPageTop ul{list-style-type: none; margin: 0; padding: 0;}
  .searchPageTop ul li{color: #333; font-size: 16px; margin-bottom: 12px;}
  .searchPageTop ul li a{color: #646363; font-size: 16px;}
  .searchPageTop ul li a:hover{text-decoration: underline;}
  .searchPageTop ul li a i{color: #000;}
  
  .login ul li.colorTogle{display: none;}
  .login ul li.fontResize{display: none;}
  
  .topLogin_{display: none;}

  .searchPageTop .ant-table-filter-trigger {
    color: #fff !important;
    font-size: 15px;
  }
  
  .searchPageTop table thead.ant-table-thead tr th.ant-table-cell {
    background: #2570C8 !important;
    color: #fff;
    border-bottom: #c4c2c2 solid 1px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .scroll_top{position: fixed; right: 25px; bottom: 25px;}

  .about_img_last{width: 780px;}


  .scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none; /* Prevent clicking when invisible */
  }
  
  .scroll-to-top-button.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; /* Enable clicking when visible */
  }

.scroll_sec_ben_home .ant-table-container table th{font-size: 11px; padding: 5px; font-weight: 700;}
.scroll_sec_ben_home .ant-table-container table tbody tr td{font-size: 11px; padding: 5px; background: none !important;}
.scroll_sec_ben_home .ant-table-container table th .ant-table-column-sorter{display: none;}
.scroll_sec_ben_home .ant-table-container table tbody tr:nth-child(odd){background: #f3db9d;}
.scroll_sec_ben_home .ant-table-container table tbody tr:nth-child(even){background: #E6B12E;}

.scroll_sec_ben_home .search_district{display: none;}

.scroll_sec_ben_home .ant-table-wrapper{background: none;}

.search_district{display: flex; margin-bottom: 15px;}
.search_district label{padding-right: 10px;}
.search_district input{width: 300px;
  background: #f0f0f0;
  height: 38px;
  border: #a2a2a2 solid 1px;}

/* =================================== Inner Page Style End ======================================= */


